<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <title>Home</title>
    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="../static/css/Home.css" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script type="text/javascript" src="../static/js/external/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script class="u-script" type="text/javascript" src="../static/js/external/nicepage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script class="u-script" type="text/javascript" src="../static/js/index.js"></script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  </head>

  <body data-home-page="Home.html" data-home-page-title="Home" class="u-body"><header class="u-clearfix u-header u-header" id="sec-bffa"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="https://www.webwise.ie/teachers/what-is-fake-news/" class="u-image u-logo u-image-1">
          <img src="../static/images/fake_news.jpg" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
            </a>
          </div>
          <div class="u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" style="padding: 10px 20px;">HOME</a></li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="https://github.com/mjenigar/sasw-FakeNewsIdentification" style="padding: 10px 20px;">GIT</a></li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="https://github.com/mjenigar/sasw-FakeNewsIdentification/blob/main/data/src.txt" style="padding: 10px 20px;">DATASET</a>
            </ul>
          </div>
        </nav>
      </div>
  </header>

    <section class="u-align-center u-clearfix u-palette-5-dark-3 u-section-1" id="carousel_affe">
      <img src="../static/images/fake.jpg" class="u-align-left u-expanded-width u-image u-left-0 u-image-1">
      <div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-left-cell u-palette-1-base u-size-20 u-layout-cell-1">
                <div class="u-container-layout u-valign-top u-container-layout-1"><span class="u-icon u-icon-circle u-icon-1"></span>
                <h4 class="u-align-center u-text u-text-1">Čo je to Falošná správa?</h4>
                <p class="u-align-center u-text u-text-body-alt-color u-text-2">Sú nepravdivé alebo zavádzajúce informácie zverejňované ako správa. Cieľom falošnej správy môže byť napríklad poškodiť reputáciu fyzickej či právnickej osoby alebo získať príjmy z reklamy.</p>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-palette-2-base u-size-20 u-layout-cell-2">
                <div class="u-container-layout u-valign-top u-container-layout-2"><span class="u-icon u-icon-circle u-icon-2"></span>
                <h4 class="u-align-center u-text u-text-3">Typy falošných správ</h4>
                <p class="u-align-center u-text u-text-body-alt-color u-text-4">
                    <ol>
                          <li>Satira alebo paródia</li>
                          <li>Falošné spojenie</li>
                          <li>Zavádzajúci obsah</li>
                          <li>Falošný kontext</li>
                          <li>Obsah uvádzaný pod falošným menom</li>
                          <li>Manipulovaný obsah </li>
                          <li>Vymyslený obsah</li>
                    </ol>
                </p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-layout-cell u-palette-3-base u-right-cell u-size-20 u-layout-cell-3">
                <div class="u-container-layout u-valign-top u-container-layout-3"><span class="u-icon u-icon-circle u-icon-3"></span>
                <h4 class="u-text u-text-5">Čo sme spravili?</h4>
                <p class="u-text u-text-body-alt-color u-text-6">Doplniť</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="u-clearfix u-color-scheme-u10 u-color-style-multicolor-1 u-palette-5-dark-3 u-section-2" id="carousel_d124">
      <div class="container u-container-layout u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-1" style="max-width: 980px !important;">
        <div class="col">
          <div class="row"><h2 class="u-text u-text-1 mt-3 mb-3">Analyze article</h2></div>
          <div class="form-group mb-3">
            <label for="input-title">Title <span class="text-danger"> *</span></label>
            <input type="text" class="form-control" id="input-title" placeholder="Article title">
          </div>
          <div class="form-group mb-3">
            <div class="row">
              <div class="col">
                <label for="input-title">Source</label>
                <input id="input-src" type="text" class="form-control" style="color:black; width: 95%;" placeholder="Source">
              </div>
              <div class="col">
                <label for="input-title">Date</label>
                <input id="input-date" type="text" class="form-control bg-light" style="color:black;" placeholder="Article title">
              </div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="input-title">Content <span class="text-danger"> *</span></label>
            <textarea id="input-content" class="form-control bg-light" style="color:black; " rows="4" cols="50" placeholder="Article content"></textarea>
          </div>
          <div class="row">
            <div class="col" style="text-align: center;">
              <button id="analyze-btn" type="button" class="btn btn-secondary m-3">Analyze</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-a1ac"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">SÉMANTICKÝ A SOCIÁLNY WEB 2021<br>Created by: Bc. Zsolt Pankulics, Bc. Martin Jenigár</p>
      </div></footer>
  </body>
</html>